[View in Colaboratory](https://colab.research.google.com/github/JaRodriVi/MasterDataScience/blob/master/Exercise_05v7.ipynb)

# Ejercicios:

Ejercicios de la tercera semana del Master de Data Science, 6 y 7 de Abril de 2018.

Conceptos básicos de Python.

In [0]:
#Implement a function that takes as input three variables, and returns the 
#largest of the three. Do this without using the Python max() function! 
#Make one version without any local variable and another with one local 
#variable. (hint: it might be easier to use edit)

def maximoD3(x,y,z):
    if (x>y):
        if (x>z):
            return x
        else:
            return z
    else:
        if (y>z):
            return y
        else:
            return z

def maximoD3_2(x,y,z): 
    solution=0
    if (x>y):
        if (x>z):
            solution = x
        else:
            solution = z
    else:
        if (y>z):
            solution = y
        else:
            solution = z
    return solution

In [13]:
maximoD3(4,3,7)

7

In [14]:
maximoD3_2(8,4,6)

8

In [0]:
#Write a function “centenario” that will take Name, and year of birth as 
#inputs, check if year of birth is int and cast it to int if not, and print 
#name together with the text explaining when the person is to have 100 years 
#(hint: use isinstance)

def centenario(name,birth):
    if (type(birth)==int):
        birth=birth +100
        birth=str(birth)
        print(name + " will reach 100 years in " + birth)
    else:
        print("El anio de nacimiento no es un entero")

In [3]:
centenario("Yordan", 1990)

Yordan will reach 100 years in 2090

In [4]:
centenario("Yordan", "1990")

El anio de nacimiento no es un entero

In [0]:
#Write a function to calculate the number of words, number of lines, and 
#length of a string the same way the wc command does in the command line

def wc(text):
    words = len(text.split())
    lines = len(text.split('\n'))
    return words, lines , len(text)

In [21]:
wc('aaaaa bbbbb\nccccc')

(3, 2, 17)

In [0]:
#Write a Python program to remove the nth index character from a string. 
#If the input string is empty print warning.

def removeN(text,n):
    if len(text)<n :
        print('WARNING')
    else :
        return text[:n]+text[n+1:]

In [23]:
removeN('abcdefghijklmnopqrstuvwxyz', 4)

'abcdfghijklmnopqrstuvwxyz'